<!-- <script>
  let langCode = navigator.language;
  let lang = langCode[0] + langCode[1];

  console.log(lang);

  switch (lang) {
    case "ru":
      window.location.replace("https://www.azart.live/ru/games/blackjack/");
      break;
    case "ar":
      window.location.replace("https://www.azart.live/ar/games/blackjack/");
      break;
    case "de":
      window.location.replace("https://www.azart.live/de/games/blackjack/");
      break;
    case "es":
      window.location.replace("https://www.azart.live/es/games/blackjack/");
      break;
    case "fr":
      window.location.replace("https://www.azart.live/fr/games/blackjack/");
      break;
    case "hi":
      window.location.replace("https://www.azart.live/hi/games/blackjack/");
      break;
    case "it":
      window.location.replace("https://www.azart.live/it/games/blackjack/");
      break;
    case "ja":
      window.location.replace("https://www.azart.live/ja/games/blackjack/");
      break;
    case "ko":
      window.location.replace("https://www.azart.live/ko/games/blackjack/");
      break;
    case "pt":
      window.location.replace("https://www.azart.live/pt/games/blackjack/");
      break;
    case "tr":
      window.location.replace("https://www.azart.live/tr/games/blackjack/");
      break;
    case "vi":
      window.location.replace("https://www.azart.live/vi/games/blackjack/");
      break;
    case "zh":
      window.location.replace("https://www.azart.live/zh/games/blackjack/");
      break;
    default:
      window.location.replace("https://www.azart.live/en/games/blackjack/");
  }
</script> -->

<h1>blackjack</h1>