@font-face {
  font-family: "alsContract";
  /* Use a relative path to the local font file in `url()`. */
  src: url('./Als_Contract.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
