<html lang="en">
  <head>
    <title>azart.live</title>
  </head>
  <body> </body>
</html>

<script>
  let langCode = navigator.language;
  let lang = langCode[0] + langCode[1];

  // switch (lang) {
  //   case "ru":
  //     window.location.replace("https://www.azart.live/ru");
  //     break;
  //   case "ar":
  //     window.location.replace("https://www.azart.live/ar");
  //     break;
  //   case "de":
  //     window.location.replace("https://www.azart.live/de");
  //     break;
  //   case "es":
  //     window.location.replace("https://www.azart.live/es");
  //     break;
  //   case "fr":
  //     window.location.replace("https://www.azart.live/fr");
  //     break;
  //   case "hi":
  //     window.location.replace("https://www.azart.live/hi");
  //     break;
  //   case "it":
  //     window.location.replace("https://www.azart.live/it");
  //     break;
  //   case "ja":
  //     window.location.replace("https://www.azart.live/ja");
  //     break;
  //   case "ko":
  //     window.location.replace("https://www.azart.live/ko");
  //     break;
  //   case "pt":
  //     window.location.replace("https://www.azart.live/pt");
  //     break;
  //   case "tr":
  //     window.location.replace("https://www.azart.live/tr");
  //     break;
  //   case "vi":
  //     window.location.replace("https://www.azart.live/vi");
  //     break;
  //   case "zh":
  //     window.location.replace("https://www.azart.live/zh");
  //     break;
  //   default:
  //     window.location.replace("https://www.azart.live/en");
  // }

   switch (lang) {
    case "ru":
      window.location.replace("/ru");
      break;
    case "ar":
      window.location.replace("/ar");
      break;
    case "de":
      window.location.replace("/de");
      break;
    case "es":
      window.location.replace("/es");
      break;
    case "fr":
      window.location.replace("/fr");
      break;
    case "hi":
      window.location.replace("/hi");
      break;
    case "it":
      window.location.replace("/it");
      break;
    case "ja":
      window.location.replace("/ja");
      break;
    case "ko":
      window.location.replace("/ko");
      break;
    case "pt":
      window.location.replace("/pt");
      break;
    case "tr":
      window.location.replace("/tr");
      break;
    case "vi":
      window.location.replace("/vi");
      break;
    case "zh":
      window.location.replace("/zh");
      break;
    default:
      window.location.replace("/en");
  }
</script>
