<body>
  <!-- Yandex.RTB R-A-15454234-1 -->
  <div id="yandex_rtb_R-A-15454234-1"></div>
  <script is:inline>
    window.yaContextCb.push(() => {
      Ya.Context.AdvManager.render({
        blockId: "R-A-15454234-1",
        renderTo: "yandex_rtb_R-A-15454234-1",
      });
    });
  </script>
</body>

<!-- <style>
  #yandex_rtb_R-A-15454234-1 {
  }
</style> -->
